body {
  background-color: lightgrey;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.clouds {
  opacity: .875;
  position: fixed;
  bottom: -30px;
  z-index: 20;
  width: 100vw;
  height: auto;
  animation: moving_clouds 13s linear infinite;
}

@keyframes moving_clouds {
  0%{
    left: 0;
    bottom: -30px;
  }
  
  25%{
    left: -20px;
    bottom: -35px;
  }
  
  50%{
    left: 0;
    bottom: -30px;
  }
  
  75%{
    left: 20px;
    bottom: -20px;
  }
  
  100%{
    left: 0;
    bottom: -30px;
  }
}

.target {
  position: fixed;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  height: 200px;
  width: auto;
  object-fit: contain;
}

@keyframes opacity_bomb {
  0% {
    opacity: 1;
  }
      
  50% {
    opacity: 0.675;
  }
  
  100% {
    opacity: 1;
  }
}

.drop {
  width: 40px;
  position: relative;
  animation: opacity_bomb 1s linear infinite;

  .bomb {
    width: 100%;
    height: auto;
  }

  .user-image {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    top: 23px;
    left: 50%;
    transform: translateX(-50%);
  }

  .avatar {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: auto;
    border-radius: 50%;
  }
}