body {
  padding: 0;
  margin: 0;
  background-color: #333;
}

.leader-board {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(0,0,0,.5);
  color: white;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  padding: .75rem;

  h4 {
    padding: 0;
    margin: 0;
  }
}

.particles {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-mask-image: linear-gradient(to bottom, transparent 25%, black 75%);
  mask-image: linear-gradient(to bottom, transparent 25%, black 75%);
}


.target {
  position: fixed;
  width: 30vmin;
  height: auto;

  bottom: -8vmin;
  left: 50%;
  transform: translateX(-50%) scaleY(0.9);
}

.drop {
  position: fixed;
  width: 70px;
  display: inline-block;
  animation: sway 1s infinite alternate ease-in-out;

  .ufo {
    width: 100%;
  }

  .user-image {
    display: block;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    margin-top: -20px;
  }

  .avatar {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.drop.landed {
  transform: rotate(0deg);
  opacity: 0;
  animation: fadeout 90s;
  transform-origin: bottom;

  .ufo {
    transform: scale(0);
    transform-origin: top;
    animation: wayout 1s ease-in-out;
  }
}

@keyframes sway {
  0% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}

@keyframes wayout {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}